@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Global Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --line-hight: 1.5;
  --facility-cls: #646568;
  --transition: all 0.3s linear;
}

img {
  display: block;
  width: 100%;
  margin: 3rem 0;
}

.logo {
  margin: 3rem auto;
  width: 105px;
  height: 105px;
}

section {
  text-align: center;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.divider {
  height: 1px;
  background: #d0d0d039;
  margin-top: 1.2rem;
}

h1,
h2,
h3,
h4 {
  margin: 1rem 0;
}

p {
  margin: 2.5rem 0;
}

html,
body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/09-day.jpg") center/cover no-repeat fixed;
  position: relative;
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #53624e;
  transform: translateX(-100%);
  transition: var(--transition);
  z-index: 1;
}

.showNav {
  transform: translate(-50%);
}

.nav-close {
  font-size: 2.5rem;
  cursor: pointer;
  color: #f29c9c;
  transition: var(--transition);
}

.fa-times {
  text-align: right;
  padding-right: 1rem;
  display: block;
}

.nav-close:hover {
  color: #bb2525;
}

.header__nav-text {
  color: var(--white);
}

ul {
  list-style-type: none;
}

.header__nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  transition: var(--transition);
}

ul {
  list-style-type: none;
  transform: translateX(60%);
}

.header__nav a:hover {
  background: #393b3d;

  border-left: 0.25rem solid #bf0000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

h1 {
  margin: 0;
}

.nav-btn {
  z-index: 1;
}

.fa-star {
  font-size: 10px;
}

.fa-star:first-of-type {
  margin-left: 1rem;
}

.divider {
  height: 2px;
  background: #d0d0d039;
  margin-top: 2rem;
  width: 100%;
  position: absolute;
  top: 5rem;
}

.banner {
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.banner__heading {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  width: 60%;
  line-height: var(--line-hight);
}

.banner__top-text {
  font-size: 0.938rem;
  font-weight: 300;
}

.banner__bottom-text {
  width: 250px;
  line-height: var(--line-hight);
  font-weight: 300;
}

main {
  position: relative;
}

.arrow-top {
  border: 2px solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
  border: none;
  background: #53624e;
}

/* About styles */

.sustainable-heading {
  margin: 2rem auto 0;
  width: 13rem;
  line-height: 1.4;
}

.sustainable__text {
  margin: 1rem auto 0;
  text-align: left;
  line-height: var(--line-hight);
}

.sustainable-heading-light {
  font-weight: 300;
}

.sustainable__solar-text,
.checkin__text {
  margin-top: 2rem;
  line-height: var(--line-hight);
  text-align: left;
}

/* check in */

.checkin__inner {
  display: flex;
  flex-direction: column;
}

.checkin__inner img {
  margin-top: 0;
  order: -1;
}

/* Facility */

.facility {
  margin-bottom: 3rem;
}

.facility__text {
  margin-bottom: 3rem;
}

.facility__logo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px;
  align-items: center;
  text-align: left;
}

.facility__logo img {
  width: 30px;
  height: 30px;
}

.facility__divider {
  height: 2px;
  width: 40px;
  background: var(--facility-cls);
  margin: 0 2rem;
}

.facility__logo p {
  font-size: 14px;
  grid-column: 3 / -1;
}

.rooms__content {
  text-align: left;
  margin-top: 3rem;
  line-height: var(--line-hight);
}

/* Footer Section */

.footer {
  /* margin-top: 2rem; */
  background: #111111c3;
  color: #fff;
  padding: 2rem 0;
  order: 2;
}

.bold {
  font-weight: 700;
  display: block;
  color: #ffffffa8;
  margin-bottom: 0.5rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.space {
  display: block;
  margin-bottom: 1rem;
}

.fa-brands {
  color: #fff;
  margin: 1rem 1rem 0 0;
}

.footer__rights {
  width: 55%;
  line-height: var(--line-hight);
  margin-bottom: 1rem;
}

.footer__terms {
  display: flex;
  justify-content: flex-start;
}

.footer__terms p {
  margin-right: 1rem;
  margin-top: 1rem;
}

/* Media Queries */

@media screen and (min-width: 1126px) {
  .wrapper {
    max-width: 1126px;
    width: 100%;
  }

  .header {
    position: relative;
  }

  .banner {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 50%;
  }

  .banner__heading {
    font-size: 2rem;
  }
  .header__inner {
    max-width: 1126px;
    width: 100%;
    margin: 0 auto;
  }

  .fa-star {
    display: inline;
  }

  .nav-btn {
    display: none;
  }

  .nav-close {
    display: none;
  }

  .header-title {
    display: block;
    margin: 0;
  }

  .header__nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 1em;
  }

  .header__nav {
    transform: translateX(0);
    background: none;
    position: static;
  }

  .nav-header {
    display: none;
  }

  .header__nav a {
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 0.5rem;
    background: none;
    outline: none;
    display: block;
    transition: none;
    padding: 0;
  }

  .header__nav a:hover {
    background: none;
    padding-left: 0;
    border-left: none;
    border-bottom: 3px solid #53624e;
    transition: var(--transition);
    padding-bottom: 1rem;
  }

  .medium {
    width: 50%;
    margin: 3rem auto;
  }

  .sustainable__resort {
    margin-top: 10rem;
  }

  .sustainable__solar,
  .checkin__inner,
  .facility__inner,
  .rooms__inner {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .checkin__inner {
    display: flex;
    flex-direction: row;
  }

  .checkin__inner img {
    margin-top: 0;
    order: 1;
  }

  .facility__divider {
    display: none;
  }

  .facility__inner {
    display: flex;
    flex-direction: column;
  }

  .facility__inner-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .facility__logo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .facility__logo p {
    margin-left: 1rem;
  }

  .rooms__inner {
    margin-bottom: 3rem;
  }

  .footer__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
  }

  .footer__rights {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .footer__terms {
    grid-column: 3 / -1;
    grid-row: 2;
  }
}
