@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Global Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --line-hight: 1.5;
  --facility-cls: #646568;
}

img {
  display: block;
  width: 100%;
  margin: 2rem 0;
}

li {
  display: none;
}

.logo {
  margin: 0.5rem auto;
  width: 105px;
  height: 105px;
}

section {
  padding: 2rem 0;
  text-align: center;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.divider {
  height: 1px;
  background: #d0d0d039;
  margin-top: 1.2rem;
}

h1,
h2,
h3,
h4 {
  margin: 1rem 0;
}

/* Boka styles */

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("assets/image6.png") center/cover no-repeat fixed;
  position: relative;
  margin: 0 auto;
  z-index: -1;
}

.hero__nav-heading-container {
  margin: 0 auto;
}

.hero__nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0;
}

.fa-bars {
  color: var(--white);
  font-size: 40px;
}

.hero__nav-heading {
  color: var(--white);
  font-size: 32px;
  font-weight: 300;
}

.fa-star {
  font-size: 10px;
}

.fa-star:first-of-type {
  margin-left: 1rem;
}

.hero__nav-text {
  color: var(--white);
}

.divider {
  height: 1px;
  background: #d0d0d039;
  margin-top: 1.2rem;
}

.banner {
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--white);
  margin-top: -5rem;
}

.banner__heading {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  width: 60%;
  line-height: var(--line-hight);
}

.banner__top-text {
  font-size: 0.938rem;
}

.banner__bottom-text {
  margin-top: 2rem;
}

/* Main */

.form {
  background: #53624e;
  padding: 1.5rem 1rem;
  width: 100%;
  top: 30rem;
  margin-top: -3rem;
  z-index: 20;
}

.container {
  margin: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  border: 2px solid #b99d75;
  padding: 0.5rem;
  color: #fff;
}

input[type="date"],
select {
  border: none;
  background: none;
  color: #fff;
}

option {
  background: #111111c3;
}

.form__btn-container {
  border: none;
  background: #b99d75;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.form__btn {
  border: none;
  background: none;
  color: #fff;
  font-size: 0.938rem;
}

/* Rooms styles */

.firstroom__size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.firstroom__size-logo {
  width: 20px;
  height: 20px;
}

.firstroom__size-shower {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  gap: 0.6rem;
  margin-top: 0;
  vertical-align: sub;
  order: 2;
}

.firstroom__discover-link {
  color: #000;
  padding-top: 1rem;
  display: block;
  cursor: pointer;
}

/* Footer Section */

.footer {
  background: #111111c3;
  color: #fff;
  padding: 2rem 0;
  order: 2;
}

.bold {
  font-weight: 700;
  display: block;
  color: #ffffffa8;
  margin-bottom: 0.5rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.space {
  display: block;
  margin-bottom: 1rem;
}

.fa-brands {
  color: #fff;
  margin: 1rem 1rem 0 0;
}

.footer__rights {
  width: 55%;
  line-height: var(--line-hight);
  margin-bottom: 1rem;
}

.footer__terms {
  display: flex;
  justify-content: flex-start;
}

.footer__terms p {
  margin-right: 1rem;
  margin-top: 1rem;
}
