@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
}

/***** Header Section *****/

.hero{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0, 0, 0, 0.3)), url('assets/02-night.jpg') center/cover no-repeat fixed;
}

.hero__nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
}


.fa-bars{
    color: #fff;
    font-size: 40px;
}

.hero__nav-heading{
    color: #fff;
    font-size: 32px;
    font-weight: 300;
}

.fa-star{
    font-size: 10px;
}
.fa-star:first-of-type{
    margin-left: 1rem;
}

li{
    display: none;
}

.hero__nav-text{
    color: #fff;
}