@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Global Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --line-hight: 1.5;
  --facility-cls: #646568;
  --transition: all 0.3s linear;
}

img {
  display: block;
  width: 100%;
  margin: 3rem 0;
}

.logo {
  margin: 0.5rem auto;
  width: 50px;
  height: 50px;
}

section {
  text-align: center;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.divider {
  height: 1px;
  background: #d0d0d039;
  margin-top: 1.2rem;
}

/***** Index styles *****/
html,
body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/02-night.jpg") center/cover no-repeat fixed;
  position: relative;
  color: #fff;
  height: 100%;
  overflow-x: hidden;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #53624e;
  transform: translateX(-100%);
  transition: var(--transition);
  z-index: 1;
}

.showNav {
  transform: translate(-50%);
}

.nav-close {
  font-size: 2.5rem;
  cursor: pointer;
  color: #f29c9c;
  transition: var(--transition);
}

.fa-times {
  text-align: right;
  padding-right: 1rem;
  display: block;
}

.nav-close:hover {
  color: #bb2525;
}

nav li {
  list-style-type: none;
}

.header__nav a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: #617d98;
  transition: var(--transition);
}

ul {
  list-style-type: none;
  transform: translateX(60%);
}

.header__nav a:hover {
  background: #f7ebe8;
  display: inline-block;
  border-left: 0.25rem solid #bf0000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.fa-star {
  font-size: 10px;
}

.fa-star:first-of-type {
  margin-left: 1rem;
}

.header__nav-text {
  color: var(--white);
}

.divider {
  height: 2px;
  background: #d0d0d039;
  margin-top: 2rem;
  width: 100%;
  position: absolute;
  top: 5rem;
}

.banner {
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.banner__heading {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  width: 60%;
  line-height: var(--line-hight);
}

.banner__heading-small {
  display: block;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.banner__btn {
  text-decoration: none;
  background: #805e2e;
  color: var(--white);
  padding: 0.9rem 1rem;
  font-size: 1.1rem;
  display: inline-block;
  cursor: pointer;
}

.banner__btn:hover {
  background: var(--white);
  color: #805e2e;
  transition: all 0.6s linear;
}

/* Media Queries */

@media screen and (min-width: 1126px) {
  .header {
    position: relative;
  }

  .banner {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  .banner__heading {
    font-size: 2rem;
  }
  .header__inner {
    max-width: 1126px;
    width: 100%;
    margin: 0 auto;
  }

  .fa-star {
    display: inline;
  }

  .nav-btn {
    display: none;
  }

  .nav-close {
    display: none;
  }

  .nav-title {
    display: block;
    margin: 0;
  }

  .header__nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 1em;
  }

  .header__nav {
    transform: translateX(0);
    background: none;
    position: static;
  }

  .nav-header {
    display: none;
  }

  .header__nav a {
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 0.5rem;
    background: none;
    outline: none;
    display: block;
    transition: none;
    padding: 0;
  }

  .header__nav a:hover {
    background: none;
    padding-left: 0;
    border-left: none;
    border-bottom: 3px solid #53624e;
    transition: var(--transition);
    padding-bottom: 1rem;
  }
}
